body {
    background: #181719;;
    color: white;
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header {
    position: sticky;
    background-color: #181719;
    left: 0;
    top: 0;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-size: smaller;
    z-index: 15;
}
header p {
    font-size: 12px;
    font-weight: 100;
    padding: 6px 5px;
    border: 1px solid rgb(206, 206, 206);
    margin-left: 40px;
}
ul {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    font-size: 16px;
}
ul li {
    list-style: none;
    padding: 10px;
}
ul li:hover {
    font-weight: bold;
}
ul li a.active {
    font-weight: bold;
    border-bottom: 3px solid ;

}
ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px 0;
}

.navlist{
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}
/* for making responsive hamburger menu */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    height: 50px;
    z-index: 99;
}
.hamburger:hover {
    cursor: pointer;
}
.hamburger div {
    width: 28px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 2px 0;
    transition: 0.4s ease-in-out;
}
.open .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.open .line:nth-child(2) {
    opacity: 0;
}
.open .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}
main{
    margin: 5%;
    display: flex;
    flex-direction: rows;
    justify-content: space-between;
    align-items: center;
}
.details {
    width: 40%;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 100;
}
.details a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
.interior-img {
    position: relative;
    width: 60%;
    margin-left: 20px;
}
.interior-img > img {
    object-position: center;
    width: 100%;
    margin: 20px auto ;
}
.tweet {
    position: absolute;
    bottom: -10%;
    right: 10%;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
    background: #181719;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.user-details {
    display: inline-flex;
    height: 50%;
    width: fit-content;
    align-items: center;
}
.user-details > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
}
.user-details .user-name{
    font-size: 14px;
}
.user-details .user-name .name {
    font-weight: bold;
}
.user-details .user-name .role {
    font-weight: 100;
    color: rgb(206, 206, 206);
}
.tweet-content {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    width: 70%;
    height: 50%;
}
.tweet-content p {
    margin: 0;
}
footer {
    width: 100%;
    position: fixed;
    font-size: 12px;
    bottom: 0;
    text-align: center;
    z-index: 9;
}

@media screen and (max-width: 426px) {
    header {
        display: flex;
    }
    header p {
        margin-left:10px ;
    }
    ul {
        display: none;
    }
    .nav {
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        z-index: 15;
        background-color: rgb(0, 0, 0);
        scale: 0;
        bottom: 100%;
        left: 100%;
        border-radius: 100%;
        border: 10px solid rgb(255, 255, 255);
        transition: 0.6s ease-in-out;
    }
    .navlist{
        bottom: 0;
        left: 0;
        border-radius: 0;
        border: none;
        scale: 1;
    }
    .hamburger {
        display: flex;
    }
    .hamburger div {
        width: 28px;
        height: 3px;
        background-color: rgb(255, 255, 255);
        margin: 2px 0;
    }
    main {
        margin: 10px;
        flex-direction: column;
        align-items: flex-start;
    }
    .details{
        width: min(100%,400px);
        margin-left: 0;
    }
    .interior-img {
        width: 100%;
        padding: 0 10px 0 5px;
        margin-left: 0;
    }
    .interior-img > img {
        width: 100%;
        margin: 30px auto ;
    }
    .user-details>img {
        width: 40px;
        height: 40px;
    }
    .user-details .user-name {
        font-size: 12px;
    }
    .tweet-content {
        font-size: 14px;
        width: 100%;
    }
    .tweet{
        width: 75%;
        margin: 0;
        padding: 0;
    }
}